html {
  overflow-y: scroll;
}

body {
  background-color: rgb(254, 254, 254);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-carousel .slick-dots li {
  width: 24px;
}

.ant-carousel .slick-dots li button {
  background: rgb(0, 0, 0);
  height: 10px;
  width: 10px;
  opacity: 0.2;
  border-radius: 100%;
  margin: 0 15px;
}

.ant-carousel .slick-dots li.slick-active button {
  background: rgb(0, 0, 0);
  margin: 0 15px;
  height: 10px;
  width: 10px;
  opacity: 0.8;
  border-radius: 100%;
}

.ant-menu-overflow>li {
  margin: auto;
  padding-left: 100px;
}

.ant-typography {
  /* font-size: 5em; */
  font-family: serif;
}

.slantingImage {
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
}

.ant-card.ant-card-bordered.ant-card-hoverable {
  display: flex;
}

.footerList {
  position: relative;
  transition: .3s;
}

.footerList::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0;
  height: 1px;
  background-color: #ffffff;
  transition: .3s;
}

.footerList:hover::after {
  width: 100%;
}

.titleBox::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  z-Index: 1;
  top: 0;
  left: 0;
  border-width: 1.5em 0px 1.5em 15px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.titleBox::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  z-index: 1;
  top: 0;
  right: 0;
  border-width: 30px 15px 30px 0;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}

.gameAnchor:hover {
  filter: drop-shadow(0px 0px 7px rgb(70, 180, 255, 0.7));
}

.subImage:hover {
  cursor: 'pointer',
}

@import '~antd/dist/antd.css';

@font-face {
  font-family: 'serif';
  src: url('./Commons/static/Font/Butler_Light.otf');
}